header {
  height: 156px;
  img {
    max-height: 100%;
  }
}
.job-filter {
  margin-top: -5rem;
}

@media only screen and(min-width: 1024px) {
  .mobile {
    display: none;
  }
}
@media only screen and(max-width: 1024px - 1) {
  .desktop {
    display: none;
  }
}
